<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<!-- Database Configuration -->
	<import resource="classes/config/spring/beans/DataSource.xml"/>
	<import resource="classes/config/spring/beans/HibernateSessionFactory.xml"/>
 
	<!-- Beans Declaration -->
 	<import resource="classes/org/mamce/unikkit/spring/bean/studentBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/semesterBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/menuBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/userBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/staffBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/eventBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/quoteBean.xml"/>
 	<import resource="classes/org/mamce/unikkit/spring/bean/roleBean.xml"/>
</beans>
